@tailwind base;
@tailwind components;
@tailwind utilities;




/* .actions div{
    display:flex
    align-items:center
  }

  .actions div span {
    width: 20px;
    text-align: center;
    margin: 0 10px;
  } */

  .selected{background: #f7753d49;
  color: #fe5d42;
  border-radius: 10px;
  }
